/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MateSC";
  src: url("/fonts/MateSC-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}
/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
/* Logo Colors */
/* #FA9307 */
/* #FFD03B */
/* #E9053C */
/* #159360 */
/* #FFF8C4 */
:root {
  /* --qwik-light-blue: #e9053c; */
  /* --qwik-dark-blue: #870322; */
  /* --qwik-light-purple: #159360; */
  /* --qwik-dark-purple: #0a5c3e; */
  /* --qwik-dirty-black: #02120c; */
  /* --qwik-dark-background: #031c13; */
  /* --qwik-dark-text: #fff8c4; */
  --qwik-light-blue: #e9053c;
  --qwik-dark-blue: #870322;
  --qwik-light-purple: #159360;
  --qwik-dark-purple: #0a5c3e;
  --qwik-dirty-black: #ffd03b;
  --qwik-dark-text: #031c13;
  --qwik-dark-background: #fff8c4;
}

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family: "Nunito", "Comic Sans", sans-serif;
  font-size: 24px;
  color: var(--qwik-dark-text);
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
}

.font-mate-sc {
  font-family: "MateSC", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "MateSC", sans-serif;
}
p {
  font-family: "Nunito", "Comic Sans", sans-serif;
}
